  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Open+Sans:wght@600&family=Quicksand:wght@300;400;500;600&display=swap');

  html,
  body,
  #root,
  .app {
    height: 100%;
    width: 100%;
    font-family: "Inter", sans-serif;
  }

  ::-webkit-scrollbar {
    width: 10px;
    background: #808dad;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 2em;
    background: #171f38;
  }
  